html,
body,
#root {
  margin: 0;
  height: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: absolute;
  top: -400px;
  right: 50px;
  z-index: 99;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
}
